# Maven
target/

# SQLite database
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Complied .js files
frontend/ts/*.js

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
